[submodule ".subs/in-the-pale-darkness-of-dawn"]
	path = .subs/in-the-pale-darkness-of-dawn
	url = https://passcod:ba17183f521da0c6120ddf720c57fb36a542a3e9@github.com/passcod/in-the-pale-darkness-of-dawn
