* {
  box-sizing: border-box;
}

p {
  margin: 0.5em auto;
}

h1, h2, h3, h4, h5, h6, th, thead, tfoot {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  color: #494949;
}

article img, section img {
  border: 1ch solid var(--blue);
  margin: 1ch;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--c-green);
}

a:active {
	text-decoration-color: var(--c-red);
}

a:visited {
	text-decoration-color: var(--c-purple);
}

a:focus, a:hover {
  text-decoration-thickness: 0.2ch;
}

hr {
  border: none;
  padding: 0.5rem;
  position: relative;
}

hr:before {
  color: black;
  content: 'â‚';
  left: 50%;
  position: absolute;
  top: 50%;
}

pre, code, kbd, samp {
  font-family: var(--font-mono);
}

pre {
  padding: 1ch;
  border: 1ch solid var(--c-yellow);
}

code {
  padding: 0 1ch;
  background: var(--c-orange);
}

pre code {
  padding: 0;
  background: none;
}

:root {
  --c-red: #ef3953;
  --c-orange: #fb9834;
  --c-yellow: #ecca20;
  --c-green: #36aa27;
  --c-blue: #2198b9;
  --c-purple: #9c1dc3;
  --c-border: var(--c-red);
}

html {
  color: #494949;
  font-family: var(--font-sans);
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 80ch;
  min-width: 50ch;
  min-height: 100%;
  border: 1ch solid var(--c-border);

  display: grid;
  grid-template:
    "header" max-content
    "main" 1fr
    "footer" max-content
  / 1fr;
}

body > header { grid-area: header }
body > main { grid-area: main }
body > footer { grid-area: footer }

body > header, body > footer, main > section {
	padding: 1ch;
}

header {
  border-bottom: 1px solid var(--c-border);
}

footer {
  border-top: 1px solid var(--c-border);
}

section {
  border-top: 1px solid var(--c-border);
  padding-top: 1ch;
}

section:first-child {
  border-top: none;
}

header a {
  border-bottom: 0;
}

header h1 {
  font-size: 2em;
  font-weight: 500;
  font-family: var(--font-serif);
}

header p, footer p {
  margin: 0;
}

header .avatar {
  float: right;
  height: 5ch;
  border: 1px solid #888;
}

p.p-note {
  font-size: 1.2em;
  color: #888;
}

footer {
  text-align: center;
}

section .avatar {
  margin: 1em 0;
  max-width: calc(50ch - 2em);
}

section h1 {
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.github-fork-ribbon {
  background-color: #494949;
}

.github-fork-ribbon a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
  color: white;
}
