name: Deploy
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/bin
          key: cargo-${{ hashFiles('.github/workflows/deploy.yml') }}

      - run: which mdbook || cargo install mdbook --locked --version 0.4.13
      - run: which mdbook-toc || cargo install mdbook-toc --locked --version 0.7.0
      - run: which mdbook-linkcheck || cargo install mdbook-linkcheck --locked --version 0.7.5

      - uses: actions/checkout@v2
      - run: mdbook build
      - uses: Cecilapp/GitHub-Pages-deploy@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          email: felix@passcod.name
          build_dir: book/html
          jekyll: no
